.App {
  text-align: center;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgb(241, 239, 231);
}

.App-header {
  background-color: #e0e0f7;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-header h4 {
  font-family: 'Alatsi';
  font-size: 1rem;
  flex-grow: 4;
  font-weight: 900;
  /* border: 0.1rem solid #663399; */
  /* box-shadow: 1px 2px saddlebrown; */
  margin: 10px 20px 10px;
  padding: 10px;
  /* background-color: rgb(245, 233, 225); */
  /* background: skyblue; */
  color: darkblue;
}

.App-header p {
  font-size: 0.7rem;
  font-weight: 400;
  width: 200px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0.5px solid #b681eb;
  border-radius: 5px;
  box-shadow: 1px 2px darkblue;
  margin-right: 5px;
  color: darkblue;
  background: skyblue;
  margin-top: 10px;
  margin-left: 40px;
}

.App-header p span {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.App-header img {
  height: 100%;
  width: 40vh;
  border: none;
}
.App-header img.logo {
  flex: 0 0 150px;
  padding: 5px 10px 10px;
  height: 70px;
  width: 300px;
  border: 1px solid #663399;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  transition: box-shadow 0.2s;
  background-color: skyblue;
}
.App-header img.logo:hover {
  box-shadow: 1px 3px blue;
}
.App-link {
  color: #61dafb;
}

.mainnav {
    background: skyblue;  
}
.mainnav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  list-style-type: none;
  border-bottom: 1px solid #663399;
  padding-bottom: 20px;
  padding-top: 20px;
}

.mainnav-link a {
  font-family: 'Alatsi';
  text-decoration: none;
  color: darkblue;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.75;
  padding: 10px 10px 10px;
  border: 0.05px solid red;
  box-shadow: 1px 2px saddlebrown;
  background:  #e0e0f7 ;
  width: 20px;
  
}

.mainnav-link a:hover {
  box-shadow: 1px 2px royalblue;
  color: #fff;
  background-color: green;
}

.CreateMaterial {
  background-color: #f3b5b5;
}
.ShowMaterialDetails {
  background-color: #ccbbaa;
}

.ShowMaterialList {
  color: goldenrod;
}

.UpdateMaterialInfo {
  color: black;
}

.list {
  display: grid;
}

.card-container {
  width: 750px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: gainsboro;
}

.container-autocom {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
