body {
    margin: 0px;
}

.containerfp{
    margin-left: 5px;
    /* margin-right: 5px; */
    margin-top: 0;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-gap: 2px;
    background-color: cornsilk;
    color:brown;    
}

.invfig {
    background-color: rgb(247, 247, 234);
    border-radius: 5px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.invbarchart{
    background-color: rgb(250, 250, 246);
    border-radius: 10%;    
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.invpiechart {
    background-color: rgb(241, 230, 216);
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    }

.tophundrd {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.salesstk {
    grid-column-start: 3;
    grid-column-end: 5;
    /* grid-row-start: 3;
    grid-row-end: 4; */
}

.projstk {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}